body {
  background: #f6f2fe;
}
#stop {
  position: fixed;
  width: 100%;
}

ul {
  list-style: none;
  padding-top: 80px;
}
li {
  display: block;
  padding-top: 10px;
}
button {
  border: 1px solid #bd8353;
  background: #bd8353;
  color: #fff;
  font-size: 14px;
  font-family: monospace;
  line-height: 22px;
  padding: 10px 10px;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}

button:hover {
  background: white;
  color: #bd8353;
  border: 1px solid #bd8353;
}

p {
  color: #bd8353;
  font-family: monospace;
  font-size: 14px;
  margin: 20px 200px 20px 200px;
  text-align: center;
  font-family: monospace;
}
img {
  width: 150px;
  display: block;
  margin: 0 auto;
}
h3 {
  font-size: 22px;
  text-align: center;
  color: #bd8353;
  font-family: monospace;
  padding-top: 50px;
}
#Contacts {
  text-align: center;
}
.image {
  border-radius: 50%;
  width: 300px;
  display: inline-block;
}

.email {
  color: black;
}
.linkedin {
  color: black;
}
.center {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding-top: 100px;
}
.text {
  font-size: 25px;
  font-family: monospace;
  color: #bd8353;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
#knowMe {
  font-size: 18px;
  font-family: monospace;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}
